/* GENERAL */
 
* {
  font-family: sans-serif;
  text-align: center;
}

body, html {
  background-color: gray;
}

body {
  display: flex;
  margin: 0px;
}

button {
  cursor: pointer;
}


/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
  background-image: url('images/businessman1-sq.png');
  background-size: contain;
background-position: center
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: lightskyblue;
  color: azure;
  padding: 15px;
  border-radius: 30px
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: gray;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

.active-nav {
  background-color: azure;
}

/* MAIN */

main {
  padding: 70px;
  width: 75%;
  background-color: azure;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item,
.merchant {
  display: flex;
  background-color: lightskyblue;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.item {
  display: inline-flex;
  width: 30%;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.item:nth-child(odd) {
  background-color: lightskyblue
}
.item:nth-child(even) {
  background-color: rgb(245, 195, 104)
}
.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.merchant:nth-child(odd) {
  background-color: lightskyblue
}
.merchant:nth-child(even) {
  background-color: rgb(245, 195, 104)
}
.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 